---
layout: default
---

{% for post in paginator.posts %}
    {% if forloop.index == 1 %}
<section id="one">
    {% else %}
<section>
    {% endif %}

    <div class="container">
        <article>
            <header>
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            </header>
            <section class="post-content">
                {{ post.content }}
            </section>
            <section class="special">
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}{{ post.url }}" class="button special">Read More</a></li>
                </ul>
            </section>

            <article>
                
            </article>

            {% if paginator.per_page == forloop.index or paginator.total_posts == forloop.index %}
            <footer>
                <ul>
                    {% include paginator-prev.html %}
                    {% include paginator-page.html %}
                    {% include paginator-next.html %}
                </ul>
                <br>
            </footer>
            {% endif %}
        </article>
    </div>
</section>
{% endfor %}
