<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">{{ site.username }}</a></h1>
            <p>{{ site.description }}</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                {% if site.twitter_username %}
                <li><a href="http://www.twitter.com/{{ site.twitter_username }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                {% endif %}
                {% if site.facebook_username %}
                <li><a href="http://www.facebook.com/{{ site.facebook_username }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                {% endif %}
                {% if site.instagram_username %}
                <li><a href="http://www.instagram.com/{{ site.instagram_username }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                {% endif %}
                {% if site.github_username %}
                <li><a href="http://www.github.com/{{ site.github_username }}" class="icon fa-github"><span class="label">Github</span></a></li>
                {% endif %}
                {% if site.email %}
                <li><a href="mailto:{{ site.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
                {% endif %}
            </ul>
        </footer>
    </section>

